#application{
     font-family:Segoe UI, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color:  lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../image/applicationFormImg.png") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container{
    padding: 30px;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;}
.container h3{
    padding: 8px;
    font-weight: bold;
    color: rgb(4, 4, 82);
}
.container p{
    color: rgb(5, 5, 90);
    font-weight: bold;
}

#applicationForm{
    display: flex;
    flex-direction: column;
    gap:10px;
    text-align: center;
    align-content: center;
    max-width: 400px;
    padding: 30px;
    border: 4px solid lightgray;
    border-radius: 30px;
    width: 100%;
    box-sizing: border-box;
}
#applicationForm input{
    padding: 5px;
    margin: 5px;
    border: 3px solid rgba(67, 77, 88, 0.886);
    border-radius: 5px;
}
#applicationForm select{
    padding: 5px;
    margin: 5px;
    border: 3px solid rgba(67, 77, 88, 0.886);
    border-radius: 5px;
}
#applicationForm textarea{
    padding: 5px;
    margin: 5px;
    border: 3px solid rgba(67, 77, 88, 0.886);
    border-radius: 5px;
}
#submit{
    padding: 10px;
    margin: 10px;
    background-color: blue;
    color: #ffffff;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}
#submit:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    background-color: #E7DDD1;
    color: black;
}



body{
    background-image: url("../image/HomepagBG.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family:Segoe UI, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: rgb(195, 216, 221);
}
#navbar{
    border: 2px solid black;
    padding: 20px;
    margin: 0px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    background-color: rgb(10, 11, 35);
    
}
#navbar ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content:flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
}
#navbar li{
    padding: 20px;
    font-size: large;
    font-weight: bold;
    
    
    padding-left: 20px;
   
}
#navbar li a{
    color: rgba(230, 221, 221, 0.925);
    text-decoration: none;
}

#main{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 20px;
}
#mainText{
   padding: 20px;
   color: rgba(11, 11, 47, 0.957);
}
#tracker{
    color: blue;
}
#buttonone{
    padding: 20px;
    margin: 0px;
    background-color: blue;
    color: white;
    border: 2px solid;
    border-radius: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
    
}
#buttonone:hover{
    transform: translateY(-3px);
    background-color: darkblue;
    box-shadow: 5px 5px 5px black;
    border-color: purple;
}
#buttonTwo{
    padding: 20px;
    margin: 0px;
    background-color: transparent;
    border: 2px solid blue;
    border-radius: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
}
#buttonTwo:hover{
    transform: translateY(-3px);
    background-color: blue;
    color: white;
}

#dashboardPreview{
    border: 3px solid rgb(149, 116, 181);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(2, 2, 88);
    color: white;

    /* background-image: url("../image/dashboardBG.png"); */
     /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */

    width: 350px;
    min-height: 350px;
    padding: 20px;
    box-shadow:  0 6px 15px rgba(0, 0, 0, 0);
}
.applicationrows{
    display: flex;
    
    background-color: rgba(2, 2, 90, 0);
    justify-content: space-between;
    padding: 15px;
    margin: 5px;
    border-radius: 15px;
}
.applicationrow{
    
    display:flex;
    justify-content:space-between;
}
#workflow{
    padding: 20px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#workflow h2{
   color:rgba(11, 11, 47, 0.957)
    
}
#steps{
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}

#step1{
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 50px;
    background-color: white;
    box-shadow: 3px 3px 3px black;
    transition: all 0.4s ease-in-out 0s 
}
#step1:hover{
    transform: translateY(-10px);
    box-shadow: 10px 10px 10px rgb(28, 28, 28);;
    border-color: purple;
}
#step2{
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 50px;
    background-color: white;
    box-shadow:3px 3px 3px black;
    transition: all 0.4s ease-in-out 0s 
}
#step2:hover{
    transform: translateY(-10px);
    box-shadow: 10px 10px 10px rgb(28, 28, 28);;
    border-color: purple;
}

#step3{
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 50px;
    background-color: white;
    box-shadow: 3px 3px 3px black;
     transition: all 0.4s ease-in-out 0s 

}

#step3:hover{
    transform: translateY(-10px);
    box-shadow: 10px 10px 10px rgb(28, 28, 28);;
    border-color: purple;
}