#application{
    font-family:Segoe UI, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color:  lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../image/applicationFormImg.png") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container{
    padding: 30px;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;}
.container h3{
    padding: 8px;
    font-weight: bold;
    color: rgb(4, 4, 82);
}
.container p{
    color: rgb(5, 5, 90);
    font-weight: bold;
}

#applicationForm{
    display: flex;
    flex-direction: column;
    gap:10px;
    text-align: center;
    align-content: center;
    max-width: 400px;
    padding: 30px;
    border: 4px solid lightgray;
    border-radius: 30px;
    width: 100%;
    box-sizing: border-box;
}
#applicationForm input{
    padding: 5px;
    margin: 5px;
    border: 3px solid rgba(67, 77, 88, 0.886);
    border-radius: 5px;
}
#applicationForm select{
    padding: 5px;
    margin: 5px;
    border: 3px solid rgba(67, 77, 88, 0.886);
    border-radius: 5px;
}
#applicationForm textarea{
    padding: 5px;
    margin: 5px;
    border: 3px solid rgba(67, 77, 88, 0.886);
    border-radius: 5px;
}
#submit{
    padding: 10px;
    margin: 10px;
    background-color: blue;
    color: #ffffff;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}
#submit:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    background-color: #E7DDD1;
    color: black;
}



body{
    /* background-image: url("../image/HomepagBG.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */

    background: linear-gradient(135deg, #0f172a 0%,#1e1b4b 50%,#311042 100%);
    font-family:Segoe UI, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    
}
#navbar{
    border: 2px solid black;
    padding: 20px;
    margin: 0px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    background-color: rgb(10, 11, 35);
    
}
#navbar ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content:flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
}
#navbar li{
    padding: 20px;
    font-size: large;
    font-weight: bold;
    
    
    padding-left: 20px;
   
}
#navbar li a{
    color: rgba(230, 221, 221, 0.925);
    text-decoration: none;
}

#main{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 20px;
}
#mainText{
   padding: 20px;
   color: #cbd5e1;
   font-size: 1rem;
   font-weight:500;
   
}

#mainText h1{
    font-weight: 700;
    font-size: 3.5rem;
    background:linear-gradient(to right,#38bdf8,#a855f7);
     -webkit-background-clip: text;
     background-clip: text;
     -webkit-text-fill-color: transparent;
}


#buttonone{
    padding: 20px;
    margin: 0px;
    background-color: blue;
    color: white;
    border: 2px solid;
    border-radius: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
    
}
#buttonone:hover{
    transform: translateY(-3px);
    background-color: darkblue;
    box-shadow: 5px 5px 5px black;
    border-color: purple;
}
#buttonTwo{
    padding: 20px;
    margin: 0px;
    background-color: transparent;
    border: 2px solid blue;
    border-radius: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
}
#buttonTwo:hover{
    transform: translateY(-3px);
    background-color: blue;
    color: white;
}

#dashboardPreview{
    border: 3px solid rgb(149, 116, 181);
    border-color: #0B1026;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: #0B1026;
    color: #F8FAFC;
   
    /* background-image: url("../image/dashboardBG.png"); */
     /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */

    min-width: 350px;
    min-height: 350px;
    padding: 20px;
    box-shadow:  0 6px 15px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease, box-shadow 0.3s ease
}
#dashboardPreview:hover {
    transform: translateY(-8px);
    box-shadow: 0px 20px 40px rgba(0, 70, 255, 0.15); /* Soft blue tech glow shadow */
}
.applicationrows{
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    background-color: #16213E;
   
    padding: 5px;
    
    border-radius: 15px;
}
.applicationrow{
    display:flex;
    justify-content:space-between;
    background-color:  rgba(11, 11, 86, 0);
    padding: 2px;
    border-radius: 15px;

}
#statsRows{
    display: flex;
    flex-direction: row;
    background-color: #16213E;
    border-radius: 12px;
}
.statBox{
    padding: 5px;
    text-align: center;
}
#workflow{
    padding: 20px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#workflow h2{
    font-size: 1.25rem;
    font-weight: 600;
    color: #ffffef;
    
}
#steps{
    display: flex;
    flex-direction: row;
    gap: 20px;  
    color: #ffffef;  
}

#step1{
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 50px;
    background-color: rgba(15,23,42,0.6);
    box-shadow: 3px 3px 3px black;
    transition: all 0.4s ease-in-out 0s 
}
#step1:hover{
    transform: translateY(-10px);
    box-shadow: 10px 10px 10px rgb(28, 28, 28);;
    border-color: purple;
}
#step2{
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 50px;
    background-color: rgba(15,23,42,0.6);
    box-shadow:3px 3px 3px black;
    transition: all 0.4s ease-in-out 0s 
}
#step2:hover{
    transform: translateY(-10px);
    box-shadow: 10px 10px 10px rgb(28, 28, 28);
    border-color: purple;
}

#step3{
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 50px;
    background-color: rgba(15,23,42,0.6);
    box-shadow: 3px 3px 3px black;
     transition: all 0.4s ease-in-out 0s 

}

#step3:hover{
    transform: translateY(-10px);
    box-shadow: 10px 10px 10px rgb(28, 28, 28);;
    border-color: purple;
}
.error{
     color: red;
    
   
    font-weight: bold;
}
#Applications{
   box-sizing: border-box;
    width: 100%;
    background: linear-gradient(135deg, #0f172a 0%, #1e1b4b 50%, #311042 100%);
    background-attachment: fixed;
    background-size: cover;
    padding: 15px;
    min-height: 100vh;
   
}
#applicationhead{
    font-size: 52px;
    width: fit-content;
     background:linear-gradient(to right,#38bdf8,#a855f7);
     -webkit-background-clip: text;
     background-clip: text;
     -webkit-text-fill-color: transparent;
}
#applicationP{
    color: white;
}

#ApplicationsList{
    color: white;
    display: flex;
    padding: 20px;
    flex-direction: row;
    
    flex-wrap: wrap;
    gap: 1.5rem; /*24px*/
    
}
.ApplicationsLists{
    border:1px solid #cbd5e1;
    min-width: 320px;
    background-color: rgba(0, 0, 0, 0.5);
   
    padding: 15px;
    border-radius: 10px;
     box-shadow: 0px 20px 40px rgba(0, 70, 255, 0.15);
     transition: all 0.4s ease-in-out 0s

}
.ApplicationsLists:hover{
    transform: translateY(-5px);
    box-shadow: 0px 20px 40px rgba(0, 70, 255, 0.15);
    border-color: purple;
}
.ApplicationsLists h3{
    font-size: 1.3rem;
    font-weight: bold;
    color: #ffffff;

}

.ApplicationsLists p{
    font-size: 0.95rem;
    color: #cbd5e1;
}
.Deletebutton{
    padding: 5px;

    background-color: #ef4444;
    color: white;
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s ease-in-out 0s
}
.Deletebutton:hover{
    transform: translateY(-3px);
    background-color: #dc2626;
}
.editButton{
    padding: 5px;
    background-color: #3b82f6;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s ease 0s
    
}
.editButton:hover{
    transform: translateY(-3px);
    background-color: #2563eb;

    color: #cbd5e1;
}